* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #3b4252;
  background-color: rgba(0,0,0,0.4);
  color: white;
}

#workspaces {
  background-color: #4c566a;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
#workspaces button {
  padding: 5px 5px;
  color: #eceff4;
}

#workspaces button.focused {
  color: #2e3440;
  background-color: #88c0d0;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #5e81ac;
  border-radius: 5px;
}

#taskbar {
  background-color: #4c566a;
  border-radius: 5px;
  margin: 5px
}
#taskbar button {
  border-radius: 5px;
  padding: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #tray {
  background-color: #4c566a;
  color: #bf616a;
  padding: 10px 5px;
  margin: 0px 0px;
}

#custom-date {
  color: #8fbcbb;
}

#battery {
  color: #a3be8c;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.charging {
  color: #a3be8c;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #ebcb8b;
  border-radius: 5px 5px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-bottom: 0;
}

#pulseaudio {
  color: #ebcb8b;
  border-radius: 0px 0px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

#tray {
  color: #ebcb8b;
  border-radius: 0px 0px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

#clock {
  color: #b48ead;
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

#custom-power {
  color: #2e3440;
  background-color: #bf616a;
  border-radius: 5px;
  margin: 5px;
  padding-top: 5px;
}

